:root {
  --ifm-color-primary: #ae70ff;
  --ifm-color-primary-dark: #994bff;
  --ifm-color-primary-darker: #8f39ff;
  --ifm-color-primary-darkest: #7002ff;
  --ifm-color-primary-light: #c395ff;
  --ifm-color-primary-lighter: #cda7ff;
  --ifm-color-primary-lightest: #ecdeff;
}

// Variables
$light: #f6f8fc;
$white: #ffffff;
$dark: #272934;
$dark2: #243b67;
$navy: #0F3460;
$main: #4285f4; 