@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5865f2;
  --ifm-color-primary-dark: #3949f0;
  --ifm-color-primary-darker: #2a3bee;
  --ifm-color-primary-darkest: #1121d6;
  --ifm-color-primary-light: #7781f4;
  --ifm-color-primary-lighter: #868ff6;
  --ifm-color-primary-lightest: #b4baf9;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme=dark] {
  --ifm-color-primary: #5865f2;
  --ifm-color-primary-dark: #3949f0;
  --ifm-color-primary-darker: #2a3bee;
  --ifm-color-primary-darkest: #1121d6;
  --ifm-color-primary-light: #7781f4;
  --ifm-color-primary-lighter: #868ff6;
  --ifm-color-primary-lightest: #b4baf9;
  --ifm-background-color: #36393f;
}
[data-theme=dark] main, [data-theme=dark] body, [data-theme=dark] .main-wrapper {
  background: #36393f;
}
[data-theme=dark] .menu {
  background: #2f3136;
}
[data-theme=dark] .menu .menu__link {
  color: #8d8f94;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  margin-left: 4px;
  font-weight: 600;
  padding: 6px;
  display: flex;
  line-height: 20px;
}
[data-theme=dark] .menu .menu__link:not(.menu__link--sublist)::before {
  content: "#";
  padding-right: 5px;
}
[data-theme=dark] .menu li > .menu__link--active {
  background: #42464d;
  border-right: 3px solid #0067e0;
  color: hsl(0deg, 0%, 100%);
}
[data-theme=dark] article a {
  color: rgb(0, 176, 244);
}
[data-theme=dark] article a:hover {
  color: rgb(0, 176, 244);
}
[data-theme=dark] .theme-admonition {
  background: #2f3136;
}
[data-theme=dark] code {
  background: hsl(216deg, 7.2%, 13.5%) !important;
  scrollbar-color: hsl(223deg, 6.9%, 19.8%) hsl(216deg, 7.2%, 13.5%);
}
[data-theme=dark] .mention {
  color: rgb(201, 205, 251) !important;
  background: rgba(88, 101, 242, 0.3) !important;
}
[data-theme=dark] .footer {
  background: #292b2f;
  color: #d8d8d8;
}
[data-theme=dark] .footer .footer__title {
  color: #ffffff;
}
[data-theme=dark] .footer a {
  color: #d8d8d8;
}
[data-theme=dark] .card {
  background: #2f3136;
  border: 0;
}
[data-theme=dark] .text--truncate:not(h2) {
  color: #b1b3b5;
  font-size: 15px;
}

body {
  font-family: "Roboto", sans-serif;
}

b, strong {
  font-weight: 700;
}

.menu {
  background: #f2f3f5;
}
.menu .menu__link:not(.menu__link--sublist)::before {
  content: "#";
  padding-right: 5px;
}

.footer {
  background-color: #ebedef;
  color: #3a3c3e;
}
.footer .footer__title {
  color: #000000;
}
.footer a {
  color: #3a3c3e;
}

article h1 {
  font-weight: 900;
}
article h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
}
article h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
article p {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
}
article a {
  border-bottom: 3px solid rgba(88, 101, 242, 0.3);
  border-bottom-color: rgba(88, 101, 242, 0.3);
  color: #0067e0;
  text-decoration: none;
  cursor: pointer;
}
article a:hover {
  border-bottom-color: #5865f2;
  text-decoration: none;
  color: #0067e0;
}
article img {
  max-width: 700px;
}

.alert p {
  font-size: 15px;
  font-weight: 300;
}

.mention {
  border-radius: 3px;
  unicode-bidi: -moz-plaintext;
  unicode-bidi: plaintext;
  font-weight: 500;
  position: relative;
  padding: 0 2px;
  color: rgb(88, 101, 242) !important;
  background: rgba(88, 101, 242, 0.15) !important;
}

code {
  width: auto;
  height: auto;
  padding: 0.2em;
  margin: -0.2em 0;
  border-radius: 3px;
  font-size: 85%;
  text-indent: 0;
  border: none;
  white-space: pre-wrap;
  background-color: hsl(216deg, 9.8%, 90%);
}

.theme-admonition {
  max-width: 700px;
}

table {
  width: 100%;
  display: block;
  overflow: auto;
}

.btn {
  color: #fff;
  padding: 5px 1rem;
  border-radius: 5px;
  background: #0067e0;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: #0067e0;
}
.btn-primary:hover {
  color: #fff;
  background: #00387a;
}/*# sourceMappingURL=custom.css.map */